
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* mary color */
.mary{
    color: coral;
}

/* Nav style */
nav {
    display: flex;
}

.nave_taitle{
    font-weight: 800px;
    font-size: 45px;
}
