
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* mary color */
.mary{
    color: coral;
}

.dark-1{
    color: #474747;
}

.btn-primary{
    background-color: darkorange;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
}

/* Hedder */
header{
    background-image: url(../Images/photo/developer.png), url(../Images/photo/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nave_taitle{
    font-weight: 800px;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}

/* Banner Style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner_content{
    max-width: 580px;
}

.banner_greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner_titel{
    font-weight: bold;
    font-size: 85px;
}
.banner_profile{
    width: 580px;
}


