
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* mary color */
.secondary_bd{
    background-color: #FFF8F3;
}
.mary{
    color: coral;
}
.dark-1{
    color: #474747;
}
.btn-primary{
    background-color: darkorange;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
}
.section_title{
    font-size: 35px;
    font-weight: bold;
    color: #474747;
}
.secton_description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
/* Hedder */
header{
    background-image: url(../Images/photo/developer.png), url(../Images/photo/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nave_taitle{
    font-weight: 800px;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav ul li a {
    text-decoration: none;
}

/* Banner Style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner_content{
    max-width: 580px;
}
.banner_greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner_titel{
    font-weight: bold;
    font-size: 85px;
}
.banner_profile{
    width: 580px;
}

/* Main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 90px;
    margin-bottom: 90px;
}

/* About Style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;   
}
.about_items{
    display: flex;
    justify-content: space-around;
}
.item_description{
    font-weight: 600;
}

/* kills section Style */
.skills_continer{
    display: flex;  
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.6);
}

/* Resume Section style */
.resume_container{
    display: flex;
    gap: 24px;
}
.experience_sub_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience_description, .experience_sub_title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.resume_download_cv{
    margin-top: 20px;
}

/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer_colume{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}

form input, textarea{
    font-size: 20px;
}